
body{
    margin-bottom: 100px;
    margin-top: 20px;
    background-color: aliceblue;
    font-family:Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}
.loginbuttons{
    
    width: 15%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
}
button{
    background-color: rgb(74, 219, 69);
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    
}
button:hover{
    transform: scale(1.1);
    color: aliceblue;
    
}
#button-sign:hover{
    transform: scale(1.1);
    color: aliceblue;

}
.tituloAboutUs{
    text-align: center;
    
    
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: green;
}
h1,h2{
    color:  rgb(10, 155, 5);
    text-align: center;
}

.imageAboutUs{
    display: flex;
    justify-content: center;
}
img{
    width: 800px;
}
p{
    height: 10px;
    font-size: 20px;
    
}
.ourmission{
    text-align: center;
}
.companyvision{
    text-align: center;
}
.companyvalues{
    text-align: center;
}