body{
    margin-bottom: 100px;
    margin-top: 20px;
    background-color: aliceblue;
    font-family:Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}
.loginbuttons{
    
    width: 15%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
}
button{
    background-color: rgb(28, 226, 28);
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    
}
button:hover{
    transform: scale(1.1);
    color: aliceblue;
    
}
#button-sign:hover{
    transform: scale(1.1);
    color: aliceblue;

}

a{
    text-decoration: none;
    color: black;

}
header a:hover{
    color: rgb(29, 202, 29);
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.header-register{
    text-align: center;
}
.opcoes{
  
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
.opcaoStudent{
    background: white;
    width: 400px;
    text-align: center;
    border: 1px solid rgb(190, 179, 179);
}
.opcaoEmployer{
    background: white;
    width: 400px;
    text-align: center;
    border: 1px solid rgb(190, 179, 179);
}
.opcaoStudent img{
    max-width: 300px;
    max-height: 200px;

}
.opcaoEmployer img{
    max-width: 300px;
    max-height: 200px;
}
.opcaoStudent:hover{
   
    border: 1px solid;
    border-radius: 10px;
}
.opcaoEmployer:hover{
    border: 1px solid gray;
    border-radius: 10px;
}
h1{
    color: green;
}