body{
    margin-bottom: 100px;
    margin-top: 20px;
    background-color: aliceblue;
    font-family:Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}
.loginbuttons{
    
    width: 15%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
}
button{
    background-color: rgb(28, 226, 28);
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    
}
button:hover{
    transform: scale(1.1);
    color: aliceblue;
    
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: rgb(29, 202, 29);
}
.imagecontactUs{
    
    width: 50%;
}
img{
    width: 450px;
    display: block;
    margin: auto;
    margin-top: 50px;
}
.contactus{
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
  
    
   
}
.container{
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
   
}
.form{
    width: 50%;
    
    display: flex;
    justify-content: start;
    flex-direction: column;
    

}
input,
label {
    font-size: 15px;
    width: 50%;
    display: flex;
    height: 1.5rem;
    border-radius: 10px solid rgb(199, 190, 190);
    
    
}
input{
    height: 2.5rem;
    margin-bottom: 2rem;
    border: 1px solid white;
    border-radius: 10px;
}
p{
    font-size: 20px;
    height: 0.3rem;
}
h1{
    font-size: 50px;
    color: rgb(25, 187, 25);
}
#button-message{
    background-color: rgb(14, 153, 207);
    width: 51%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
#conteudocard1{
    font-size: 20px;
}