body{
    margin-bottom: 100px;
    margin-top: 20px;
    background-color: aliceblue;
    font-family:Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}
.loginbuttons{
    
    width: 15%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
}
button{
    background-color: rgb(28, 226, 28);
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    
}
button:hover{
    transform: scale(1.1);
    color: aliceblue;
    
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: rgb(29, 202, 29);
}
.section{
    display: flex;
    justify-content: center;
}
.titulo{
    width: 40%;
    margin: 100px;
    font-size: 30px;
    color: rgb(14, 119, 30);
}
.logoOutWorkers{
    margin: 100px;
}
img{
    width: 500px;
}
.botoes{
    
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: center;

}
#botao-students{
    margin: 10px;
    width: 150px;
    display: flex;
   justify-content: center;
   font-size: 15px;
   font-weight: bold;
   border: none;
   box-shadow:  2px 2px 2px black;;
   background-color: rgb(55, 189, 75);
  
   
   
}
#botaohowit{
    background-color: rgb(138, 132, 132);
    display: flex;
    justify-content: center;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    box-shadow:  1px 1px 1px black;
}
#link-student:hover{
    color: aliceblue;
}
